<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="login-box">

<h2>Dummy Login</h2>

<form method="POST">

<label>Select Role</label>

<select name="role" required>

<option value="">Choose Role</option>

<option value="admin">Admin</option>

<option value="coach">Coach</option>

<option value="user">User</option>

</select>

<br><br>

<button type="submit" class="primary">
Login
</button>

</form>

<br>

<a href="{{ url_for('home') }}">
<button>Back</button>
</a>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>