fastapi
uvicorn
jinja2
sqlalchemy
mangum
python-jose[cryptography]
passlib
bcrypt
pandas
openpyxl
reportlab
pydantic-settings
google-generativeai
apscheduler
python-multipart
requests
psutil
psycopg2-binary
